* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #666;
    text-align: center;
    overflow: hidden;
    background-image: url('../bg.jpg'); /* 确保路径正确 */
    background-size: cover; /* 背景图片覆盖整个视口 */
    background-position: center; /* 背景图片居中显示 */
    background-repeat: no-repeat; /* 背景图片不重复 */
}

.player-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.container {
    position: relative;
    padding-bottom: 60px; /* 为播放器腾出空间 */
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.85); /* 设置背景颜色和透明度 */
    opacity: 0.85; /* 设置透明度为 85% */
    border-radius: 30px;
}

.container ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container ul li {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: calc(1rem + 1vw); /* 字体大小会根据视口宽度变化 */
}

.container ul li.active {
    color: blue;
    transform: scale(1.2);
}

#languageSelector {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
